<a href="https://colab.research.google.com/github/devesssi/EDUNNET/blob/main/Edunetday1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON BASICS

In [ ]:
if 100: #Any non zero value is consider as true in python
  print("yes")
else:
  print("no")

yes

In [ ]:
if [100,222,300]: #Any nonempty collection is consider as true
  print("yes")
else:
  print("no")

yes

In [ ]:
#range excludes the last value
for i in range(1, 10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
#range has 3rd param known as step
for i in range(1, 10, 2 ):
  print(i)

1
3
5
7
9

In [ ]:
# this will default print nothing coz the expression is false is inside
for i in range(10,1):
  print(i)

In [ ]:
# if we use the step inside to "-1" the range it will print the values
for i in range(10,1,-1):
  print(i)

10
9
8
7
6
5
4
3
2

# COLLECTIONS

In [ ]:
# collection in python

#list: it is ordered datatype --> indexing and slicing is possible init, it is heterogenous collection of datatypes
TEMP = [100,200,"ADFA",300]
print(TEMP[1])# indexing gives only one op
print(TEMP[2:5])# this is slicing give more than one op
print(TEMP)

200
['ADFA', 300]
[100, 200, 'ADFA', 300]

["hello"]

ðŸ§  Why Does This Happen?
In Python, the print(my_list) calls str() on the list, which in turn calls repr() on each item.
The repr() of a string always uses single quotes, unless the string contains single quotes, in which case it uses double quotes to avoid escaping.

In [ ]:
# functions in lists
#append--> insert the new obj at the end of the list
TEMP.append(400)
print(TEMP)

#Now to insert the obj at the certain index we have .insert(index, obj)
TEMP.insert(2, 500)
print(TEMP)

#to remove the obj(value) in the list .remove(obj) --> it will remove the first occurence of  if there's same multiple obj eg: 400 is 2x in the list
#note it only takes the obj to remove
TEMP.remove(400)
print(TEMP)

[100, 200, 'ADFA', 300, 400]
[100, 200, 500, 'ADFA', 300, 400]
[100, 200, 500, 'ADFA', 300]

we cannot remove multiple items from the list from the list
coz if 0th postn is removed the next elem will be at 0th posn and hence it cannot remove with this issue

** SOLVE IT?**

In [ ]:
# now .pop(index) --> this takes the index you want to remove from the list
TEMP.pop(2)
print(TEMP)
#there is .clear()

[100, 200, 'ADFA', 300]

In [ ]:
# EXtEND function .extend(input list) you want to add
TEMP.extend([1,2])
print(TEMP)

[100, 200, 'ADFA', 300, 1, 2]

my_list = [1, 2, 3, 4, 5]
print("Original list:", my_list)

my_list.clear()
print("Cleared list:", my_list)


op:
Original list: [1, 2, 3, 4, 5]
Cleared list: []

In [ ]:
# we can modify the elem in the list by assign the indexed
TEMP[0] = 1000
print(TEMP)

[1000, 200, 'ADFA', 300, 1, 2]

In [ ]:
#count function
TEMP.count(1000)

1

In [ ]:
# TEMP.index(100)--> will give an err if not present
TEMP.index(1)

4

# diff between list vs tuple?

Use a list when you need a mutable, flexible collection of items, possibly with different types.
Use a tuple when you need an immutable collection, often for data integrity or fixed records.
Use an array (from array module or libraries like NumPy) when dealing with large sequences of numeric data for better performance and efficiency.
For numerical computing, especially with large datasets, NumPy arrays are even more powerful and widely used.

# TUPLES IN COLLECTION

In [ ]:
# all the functions in the list that are not changing the tuple  eg: remove etc can be used in the tuple
t1 = (100,200,300,"dev")
print(t1)

(100, 200, 300, 'dev')

In [ ]:
t1.count(100)

1

In [ ]:
t1.index(100)

0

# LISTS Q

In [ ]:
# accessing the elements from the list
a = [100,2,3,4,100,5,6,8]
for item in a:
  print(item)

100
2
3
4
100
5
6
8

In [ ]:
temp = []
for item in a:
  if item == 100:
    continue;
  else:
    temp.append(item)
print(temp)

[2, 3, 4, 5, 6, 8]

In [ ]:
a= [15,100,100,100,15,100]
for i in a:
  a.remove(100)
print(a)

[15, 15, 100]

In [ ]:
temperatures = [100,24,34,2,54,65]
hot= []
cold = []

for i in temperatures:
  if i>25:
    hot.append(i)
  else:
    cold.append(i)

print(f"This is hot:{hot} and this is cold: {cold}")

This is hot:[100, 34, 54, 65] and this is cold: [24, 2]

In [ ]:
# note here we use replace("$","")--> this will replace the dallar sign with empty space
p = ["100kwh","200kwh","150kwh","70kwh"]
temp=[]
for i in p:
  x = i.replace("kwh","")
  temp.append(int(x)) # Convert the string to an integer
print(temp)

print(sum(temp)) # Use the built-in sum() function for lists

[100, 200, 150, 70]
520

In [ ]:
mobile = "91-81865t834768932"
# Q- print the country code from the movbile no
s = mobile.split("-")[1]
print(s)

81865t834768932

In [ ]:
mobile_phone_no = []
cc = []
mobile= ["91-32748937","91-23674567"]
for i in mobile:
  cc.append(i.split("-")[0])
  mobile_phone_no.append(i.split("-")[1])
print(f"this is country code{cc}")
print(f" this is mobile no:{mobile_phone_no}")

this is country code['91', '91']
 this is mobile no:['32748937', '23674567']

# MAP FUNCTION IN PYTHON(one of the most imp)

WE NEED SOMEONE WHO CAN ITERATE WITHOUT LOOP TAKES LESS TIME

The map() function in Python is a built-in function that applies a specified function to each item in an iterable (such as a list, tuple, etc.) and returns a map object, which can be converted into other sequence types like lists or tuples.
 The general syntax for the map() function is map(function, iterable, [iterable1, iterable2, ...]).

 def myfunc(a, b):
    return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))

In [ ]:
# look we can create our own function for text preprocessing in python--> this is very imp you can do it for you
m = ["dev@gmail.com","vish@gmail.com","shiv@gmail.com"]
def cal_mail(x):
  return x.split("@")[0]

uname = map(cal_mail, m)
print(list(uname))

['dev', 'vish', 'shiv']

# DICTIONARIES IN PYTHON

dict is the most imp thing here ["key"][n] this will print the value of the key at the nth position. this is the nested postion.

In [ ]:
stud = {
    "names" :["dev","shivam","vishal"] ,
    "roll_no": [24,26,[16,"sgjhndsf", 43]],
    "email":"dev@gmail.com"
}
print(stud["roll_no"][2][2])

43

funtions in dictionary:

In [ ]:
stud.items()

dict_items([('names', ['dev', 'shivam', 'vishal']), ('roll_no', [24, 26, [16, 'sgjhndsf', 43]]), ('email', 'dev@gmail.com')])

In [ ]:
# Q:
dt = {
    "a": [100,200,300],
    "b":[22,33,44],
    "c":[90,91,92]
    }
# print(dt["a"])
for i in dt:
  print(f" this is the dict :{dt[i]}")
  print(f" this is sum of all the lists: {sum(dt[i])}")
  print(f" this is the sum of first and last ele: {dt[i][0]+dt[i][-1]}")

 this is the dict :[100, 200, 300]
 this is sum of all the lists: 600
 this is the sum of first and last ele: 400
 this is the dict :[22, 33, 44]
 this is sum of all the lists: 99
 this is the sum of first and last ele: 66
 this is the dict :[90, 91, 92]
 this is sum of all the lists: 273
 this is the sum of first and last ele: 182